<h1>What's happening ?</h1>
<br/>
<%= render :partial => 'form' %>

<% @messages.each do |message| %>
  <div class="row message">
    <div class="span1 photo">
      <%= image_tag "http://www.gravatar.com/avatar/ee8ea294c76022c5a6e163a05d255700.png" %>
    </div>
    <div class="span5">
      <div class="row">
        <div class="span4">
          <strong>
            Apirak
          </strong>
          <%= time_ago_in_words(message.created_at) %>
        </div>
        <div class="span1">
          <%= link_to raw("<i class='icon-pencil'></i>"), edit_message_path(message) %>
          <%= link_to raw("<i class='icon-trash'></i>"), message_path(message), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <%= link_to message.content, message_path(message) %>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          #abc, #bca
        </div>
      </div>
    </div>
  </div>
<% end %>
